<div class="containe mbody">
    <form class="mfocot border">
        <div class="container text-center">
            <div class="row">
                <h3>Realice seguimientoa a sus pagos pendientes</h3>
                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nro, de póliza</th>
                        <th scope="col">Nro. Placa/registro en DDRR</th>
                        <th scope="col">Nro. de cuota</th>
                        <th scope="col">Tipo de pago</th>
                        <th scope="col">Monto de prima a pagar</th>
                        <th scope="col">Pagar mi cuota</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>151515</td>
                        <td>ABC123</td>
                        <td>Primera cuota</td>
                        <td>Crédito</td>
                        <td>500$</td>
                        <td> <button type="button" class="btn btn-success"> <i class="fa-solid fa-money-bill"></i></button></td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>151515</td>
                        <td>ABC123</td>
                        <td>Segunda cuota</td>
                        <td>Crédito</td>
                        <td>250$</td>
                        <td> <button type="button" class="btn btn-success"> <i class="fa-solid fa-money-bill"></i></button></td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>151515</td>
                        <td>10.9.10.1554.5</td>
                        <td>Cuota Unica</td>
                        <td>Contado</td>
                        <td>500$</td>
                        <td> <button type="button" class="btn btn-success"> <i class="fa-solid fa-money-bill"></i></button></td>
                      </tr>
                      <tr>
                        <th scope="row">4</th>
                        <td>151515</td>
                        <td>ABC123</td>
                        <td>Cuota Unica</td>
                        <td>Contado</td>
                        <td>500$</td>
                        <td> PAGADO</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </form>
</div>