<div class="containe mbody">
  <form class="mfocot border">
    <div class="container text-center">
      <div class="row">
        <h3>Realice seguimientoa a sus pagos pendientes</h3>
        <div class="table-responsive">
          <table class="table table-info table-hover table-striped text-center">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Nro, de póliza</th>
                <th scope="col">Tipo de Pago</th>
                <th scope="col">Estado de Cuenta</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let pol of plan">
                <td scope="row">{{ pol.poliza }}</td>
                <td>{{ pol.tipo_pago }}</td>
                <td>
                  <table class="table table-info table-hover table-striped text-center">
                    <thead>
                      <th scope="col">Nro. de cuota</th>
                      <th scope="col">Fecha de pago</th>
                      <th scope="col">Monto de prima a pagar</th>
                      <th scope="col">Estado</th>
                    </thead>
                    <tbody>
                      <tr *ngFor="let pago of pol.pagos">
                        <td>{{ pago.cuota }}</td>
                        <td>{{ pago.f_pago }}</td>
                        <td>{{ pago.monto }}</td>
                        <td>{{ pago.estado }}</td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </form>
</div>