<div class="container mbody">
    <h4>POLIZA: {{cod_poliza}}</h4>
    <div class="md-4">
        <img [src]="foto_frontal" class="card-img" style="text-align: center; border-radius: 20px;" height="400">
    </div>
    <div class="container text-center">
        <h6> <b>Placa:</b> {{placa}} <b>Inicio de vigencia:</b> {{f_fin}} <b>Fin de vigencia:</b> {{f_fin}}</h6>
    </div>
</div>
<form class="mfocot border" [formGroup]="miFormulario" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-4">
            <label for="f_siniestro" class="form-label">Fecha de siniestro</label>
            <input type="date" class="form-control" id="f_siniestro" formControlName="f_siniestro">
        </div>
        <div class="col-md-4">
            <label for="f_denuncia" class="form-label">Fecha de denuncia</label>
            <input type="date" class="form-control" id="f_denuncia" formControlName="f_denuncia">
        </div>
        <div class="col-md-4">
            <label for="descripcion" class="form-label">Descripción</label>
            <input type="text" class="form-control" id="descripcion" formControlName="descripcion">
        </div>
        <div class="col-md-4">
            <label for="lugar_siniestro" class="form-label">Lugar de Siniestro</label>
            <input type="text" class="form-control" id="lugar_siniestro" formControlName="lugar_siniestro">
        </div>
        <div class="col-md-4">
            <label for="foto_siniesto" class="form-label">Foto de siniestro</label>
            <input type="file" class="form-control" id="foto_siniesto" formControlName="foto_siniesto"
                (change)="onFileChange($event, 1)">
        </div>
    </div>
    <button type="submit" class="btn btn-success">DENUNCIAR SINIESTRO</button>
</form>