
<div class="mfoot">
    <div class="row">
        <label class="mtitulo">Nuestra<i> Compañia</i> </label> <b class="mtitulos">Siguenos en nuestras redes</b>   
        <div class="col-sm-3 mb-2 mb-sm-0">
            <div class="card">
                <div class="card-body">                    
                    <p class="card-text">Facebook</p>                    
                    <a href="#" class="btn btn-primary"><fa-icon [icon]="faFacebook"></fa-icon></a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    
                    <p class="card-text">WhatsApp</p>                    
                    <a href="#" class="btn btn-success"><i class="fa-brands fa-whatsapp"></i></a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    
                    <p class="card-text">Instagram</p>                    
                    <a href="#" class="btn btn-danger"><i class="fa-brands fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    
                    <p class="card-text">TikTok</p>                    
                    <a href="#" class="btn btn-secondary"><i class="fa-brands fa-tiktok"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>