<footer class="footer mt-auto py-3 bg-primary text-white mt-2">
  <div class="container text-center">
    <div class="social-icons mt-1">
      Dirección: Calle Ficticia 123, Ciudad, País Teléfonos: +591 78945612 | +591 2 241235
      <a href="#" class="text-white me-3"><fa-icon [icon]="faFacebook"></fa-icon></a>
      <a href="#" class="text-white me-3"><i class="fa-brands fa-whatsapp"></i></a>
      <a href="#" class="text-white me-3"><i class="fa-brands fa-instagram"></i></a>
      <a href="#" class="text-white me-3"><i class="fa-brands fa-tiktok"></i></a>
      <a href="#" class="text-white"><i class="bi bi-linkedin"></i></a>
    </div>
  </div>
</footer>