<h3 >MIS PÓLIZAS VIGENTES</h3>
<div class="container my-3">
  <div class="row">
    @for(pol of polizas; track pol.id_cotizacion){
    <div class="col-md-4">
      <div class="card mb-4">
        <img [src]="pol.items[0].foto_frontal" class="card-img-top" alt="Imagen de ejemplo">
        <div class="card-body">
          <h5 class="card-title">{{pol.cod_poliza}}</h5>
          <p class="card-text">Valor Asegurado: {{pol.valor_asegurado}} $ <br>Prima: {{pol.prima}} $ <br>Inicio de
            Vigencia: {{pol.f_ini}} <br> Fin de Vigencia:
            {{pol.f_fin}}</p>

          <button type="button" class="btn btn-primary" (click)="crearSiniestro(pol.id_poliza)">Denuncia un
            siniestro</button>
        </div>
      </div>
    </div>
    }
  </div>
</div>