<div class="mpoliza">
    <div class="row">
        <label class="mtitulo">Mis<i> cotizaciones</i> </label>
        @for(cot of cotizaciones; track cot.id_cotizacion){
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="assets/auto.jpg" class="card-img-top card-img" alt="10px">
                <div class="card-body">
                    <p class="card-text">Prima cotizada: {{cot.prima}}$ <br>Vigente hasta: 2023 sep. 25</p>
                    <p class="card-text">Nro.: {{cot.id_cotizacion}}<br></p>
                    <!--  <button type="button" class="btn btn-danger">Descargar cotización <i class="fa-solid fa-file-pdf"></i></button> -->
                    <button type="button" class="btn btn-success" (click)="crearPoliza(cot.id_cotizacion)">Convertir a
                        Póliza <i class="fa-solid fa-car"></i></button>
                </div>
            </div>
        </div>
        }

    </div>
</div>

<app-cotizar [additionalData]="id_cliente"></app-cotizar>